<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-geo-alt-fill"></i> Nine Hatun Mah. Mercan Cad. No: 29-A Esenler/İstanbul
    </div>
    <div class="d-none d-lg-flex contact-info align-items-center">
      <i class="bi bi-telephone-fill"></i> 0 212 508 20 21
    </div>
  </div>
</div>

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="#">Özel Esenler Sağlık Kabini</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Ana Sayfa</a></li>
        <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
        <li><a class="nav-link scrollto" href="#services">Hizmetlerimiz</a></li>
        <li><a class="nav-link scrollto" href="#gallery">Galeri</a></li>
        <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1>Özel Esenler Sağlık Kabini İnternet Sitesine Hoş Geldiniz!</h1>
    <h2>Siz değerli hastalarımızın bizlere daha kolay ulaşabilmesi ve tanıyabilmesi için baştan aşağı yenilenen internet sitemizi paylaşmaktan mutluluk duyuyoruz!</h2>
  </div>
</section>

<main id="main">
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fa-solid fa-house-medical"></i></div>
            <h4 class="title"><a style="cursor: default;">Evde Sağlık Hizmetleri</a></h4>
            <p class="description">Sağlık kabinimizde verdiğimiz tüm hizmetlerimizi evinizde de yapabiliyoruz.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fa-solid fa-vial-circle-check"></i></div>
            <h4 class="title"><a style="cursor: default;">Çeşitli Test ve Tahliller</a></h4>
            <p class="description">Tedavinizin teşhisi ve kontrolü için gerekli testlerinizi yapıyor, sizin için takip ediyoruz.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa-solid fa-person-breastfeeding"></i></div>
            <h4 class="title"><a style="cursor: default;">Anne-Bebek Uyum Eğitimi</a></h4>
            <p class="description">Tecrübeli çalışanlarımız sayesinde, bebeğinizle aranızdaki bağları birlikte kuvvetlendiriyoruz.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fa-solid fa-user-doctor"></i></div>
            <h4 class="title"><a style="cursor: default;">Acil Yardım Uygulamaları</a></h4>
            <p class="description">Başta acil yardım uygulamaları olmak üzere çeşitli küçük cerrahi uygulamaları da yapıyoruz.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>Hakkımızda</h2>
        <p>Özel Esenler Sağlık Kabini olarak 2020 yılından beri alanında uzman çalışma arkadaşlarımız ile birlikte siz kıymetli hastalarımıza ister kabinimizde ister evinizde olmak üzere çeşitli sağlık hizmetleri sunmaktayız.</p>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 justify-content-center align-items-stretch position-relative">
          <img src="assets/img/about-2.JPG" class="img-fluid" alt="">
        </div>
        <div class="col-xl-6 col-lg-6 content icon-boxes d-flex flex-column align-items-stretch justify-content-center">
          <h3>Özel Esenler Sağlık Kabini Sağlık Bakanlığı Onaylıdır.</h3>
          <p class="fst-italic">Türkiye Cumhuriyeti Sağlık Bakanlığı Onaylı Özel Esenler Sağlık Kabini, değerli hastalarımızın sağlığı için alanında uzman olan sertifikalı sağlık çalışanlarıyla hizmet vermektedir. Gerekli tüm belgelerimiz bulunmaktadır, sağlığınızı gönül rahatlığıyla bizlere emanet edebilirsiniz. Amacımız her daim sizlere yüksek kalitede hizmet sunmaktır.</p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Sağlık Bakanlığı Onaylı</li>
            <li><i class="bi bi-check-circle"></i> Alanında Uzman Sertifikalı Sağlık Çalışanları</li>
            <li><i class="bi bi-check-circle"></i> Steril Tedavi Odası</li>
            <li><i class="bi bi-check-circle"></i> Evde Sağlık Hizmetleri</li>
            <li><i class="bi bi-check-circle"></i> Kolay Ulaşım</li>
            <li><i class="bi bi-check-circle"></i> 7/24 Kesintisiz Hizmet</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="counts" class="counts">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="fa-solid fa-bed-pulse"></i>
            <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
            <p>Her hastadan sonra özenle sterilize edilen <strong>Yatak Sayımız</strong></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="far fa-hospital"></i>
            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
            <p>İster kabinimizde ister evinizde sizlere sunduğumuz <strong>Hizmet Sayımız</strong></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fa-solid fa-location-dot"></i>
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
            <p>Evde sağlık hizmeti verdiğimiz <strong>İlçe Sayımız</strong></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fa-solid fa-business-time"></i>
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>24 saat kesintisiz hizmetimiz ile</strong> sağlığınızı önemsiyoruz!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Hizmetlerimiz</h2>
        <p>Sizleri önemsiyoruz! Bu doğrultuda her geçen gün genişlettiğimiz hizmet ağımızı sizlere tanıtmak isteriz. Aşağıdaki hizmetlerimizi ister kabinimizde ister evinizde, yani siz nerede isterseniz orada gerçekleştirebiliriz.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-syringe"></i></div>
            <h4><a href="">Enjeksiyon (İğne)</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
            <h4><a href="">Serum Takmak</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-bandage"></i></div>
            <h4><a href="">Pansuman Yapmak</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-stethoscope"></i></div>
            <h4><a href="">Tansiyon Ölçümü ve Takibi</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-hand-dots"></i></div>
            <h4><a href="">Dikiş Atma/Alma</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
            <h4><a href="">Stoma Değişimi</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-person-pregnant"></i></div>
            <h4><a href="">Gebelik Testi</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
            <h4><a href="">Şeker Takibi</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-vial-circle-check"></i></div>
            <h4><a href="">Kan Alma, İdrar ve Gaita Tahlilleri</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-mask-ventilator"></i></div>
            <h4><a href="">Oksijen Takibi</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
            <h4><a href="">Sonda Takma</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
            <h4><a href="">Beslenme Sondası Takma</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-person-breastfeeding"></i></div>
            <h4><a href="">Anne-Bebek Uyumu ve Emzirme Eğitimi</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-user-doctor"></i></div>
            <h4><a href="">Küçük Cerrahi Uygulamalar</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
            <h4><a href="">Lavman</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-truck-medical"></i></div>
            <h4><a href="">Acil Yardım Uygulamaları</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-weight-scale"></i></div>
            <h4><a href="">Hemoglobin Ölçümü</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-user-nurse"></i></div>
            <h4><a href="">Ameliyat Sonrası Hemşire Bakımı</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="gallery" class="gallery">
    <div class="container">
      <div class="section-title">
        <h2>Galeri</h2>
        <p>Sizler için özenle dizayn ettiğimiz Özel Esenler Sağlık Kabini, hem konforunuz hem de sağlığınız düşünülerek hazırlanmıştır.</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery1.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery2.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery3.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery4.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery5.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery6.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery7.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery8.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>İletişim</h2>
        <p>Özel Esenler Sağlık Kabini'ne ulaşmak için çok fazla seçeneğiniz var.</p>
      </div>
    </div>
    <div>
      <iframe style="border:0; width: 100%; height: 350px;" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Nine%20Hatun%2C%20Mercan%20Cd.%20No%3A29%2FA%2C%2034220%20Esenler%2F%C4%B0stanbul+(%C3%96zel%20Esenler%20Sa%C4%9Fl%C4%B1k%20Kabini)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Açık Adresimiz</h3>
                <p>Nine Hatun Mah. Mercan Cad. No: 29/A - Esenler/İstanbul</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class='bx bxl-instagram'></i>
                <h3>Instagram Adresimiz</h3>
                <p>esenlersaglikkabini</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class='bx bxl-whatsapp'></i>
                <h3>Whatsapp İletişim Hattımız</h3>
                <p>+90 553 967 55 17</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Telefon Numaramız</h3>
                <p>0 212 508 20 21</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer id="footer">
  <div class="container py-4">
    <div class="me-md-auto text-center">
      <div class="copyright">
        <strong>&copy; <span>Özel Esenler Sağlık Kabini</span></strong>. Tüm Hakları Saklıdır.
      </div>
      <div class="credits">
        <a href="https://fatihkurekci.com/">Fatih Kürekçi</a>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>